.category {
      background-color: #f2f2f2;
      padding: 20px;
}

.category-wrap {
      width: 1200px;
      margin: auto;
      background-color: white;
}

.category-title {
      padding: 25px;
      font-size: 14px;
      font-weight: 500;
      color: gray;
      margin-right: auto;
}

.card>img {
      width: 83px;
      justify-content: space-evenly;
}

.card-box {
      width: 100%;
      justify-content: space-evenly;
}

.card {
      border: 0.5px solid #f2f2f2;
      width: 120px;
      box-sizing: border-box;
      height: 120px;

      cursor: pointer;
}

.card:hover {
      box-shadow: 0px 0px 5px 0px;
}

.card>span {
      text-align: center;
}